$icomoon-font-path: "/fonts" !default;

$va-kyivstar-sign: "\e900";
$va-kyivstar-ua: "\e901";
$va-kyivstar-logo-ua: "\e902";
$va-lifecell-sign: "\e903";
$va-lifecell: "\e904";
$va-lifecell-logo: "\e905";
$va-mts-sign: "\e906";
$va-mts-ua: "\e907";
$va-mts-logo-ua: "\e908";
$va-vodafone-sign: "\e909";
$va-vodafone: "\e90a";
$va-vodafone-logo: "\e90b";
$va-mirra-logo: "\e90c";
$va-kflex-sign: "\e90d";
$va-kflex: "\e90e";
$va-kflex-logo: "\e90f";
