<div class="subscribe__message">
  <div class="error">
    <h1>Не удалось подписаться на рассылку</h1>
    <p>Благодарим Вас проявленый интерес к продкуции компании МИРРА.</p>
    <p>Попробуйте позже.</p>
    <div class="controls">
      <p class="button_close">Закрыть</p>
    </div>
  </div>
</div>
