<div class="subscribe__message">
  <div class="success">
    <h1>Вы успешно подписались на рассылку</h1>
    <p>Благодарим Вас проявленый интерес к продукции компании МИРРА.</p>
    <p>Самая свежая информация об акциях, новинках и специалных предложениях будет доставляться на указанный Вами
      e-mail: <strong>{{ email }}</strong>.</p>
    <div class="controls">
      <p class="button_close">Закрыть</p>
    </div>
  </div>
</div>
